{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "comments": true,
  "plugins": [
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    "transform-object-rest-spread"
  ]
}